*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container
{
    width: 100%;
    height:100vh;
    background-color: rgb(24, 1, 24);
    display:flex;
    align-items:center;
    justify-content:center;
}
.calculator
{
    background-color: rgb(37, 1, 37);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
}
.calculator form input{
    width:60px;
    height:60px;
    border:0.5;
    border-color: rgba(61, 5, 73, 0.868);
    outline:0;
    border-radius:10px;
    box-shadow: -8px -8px 15px rgba(255.255.255.0.1),5px 5px 15px rgba(0.0.0.0.1);
    background: transparent;
    font-size: 20px;
    color:white;
    cursor: pointer;
    margin: 2px;
}
form .display{
    display:flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 130px;
}
 
form input.operator{
    color:rgb(221, 0, 255);
}
form input.equal{
    color:rgb(221, 0, 255);
}